@page "{ProductId:int}"

@model ZooSite.Pages.Products.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Product.Name</h2>
<div>
    Id: @Model.Product.Id
</div>
<div>
    Location: @Model.Product.Price
</div>
<div>
    Species: @Model.Product.Type
</div>

@if(Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<a asp-page="./List" class="btn btn-default">All Products</a>